/* This will be used for styling the components */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.footer-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0 2vh 0;
  padding: 0.5em 0;
  transition: all ease-in-out 0.3s;
  font-family: "Orbitron", sans-serif;
  @media (max-width: 425px) {
    box-shadow: 4px 3px 6px 0 #07c7ba4f;
    border-radius: 0.5em;
    width: 100vw;
  }
  @media (max-width: 780px) {
    box-shadow: 4px 3px 6px 0 #07c7ba4f;
    border-radius: 0.5em;
    width: 40vw;
  }
  @media (max-width: 320px) {
    padding: 0;
    margin: 0 0 4vh 0;
    box-shadow: 4px 3px 6px 0 #07c7ba4f;
    border-radius: 0.5em;
    width: 100%;
  }
}

.footer-card:hover {
  scale: 1.02;
}
.footer-card img {
  aspect-ratio: 1 / 1;
  height: 4em;
}

.desc {
  font-size: 0.8em;
  margin: 1vh 0 1.2vh 0;
  font-family: "Orbitron", sans-serif;
}

.special {
  color: #07c7b9;
}

.bold {
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
}
.quantity {
  font-size: 1.3em;
  font-family: "Orbitron", sans-serif;
}

/* ABout Section Card styling */
.section-card {
  transition: all ease-in-out 0.3s;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @media (min-width: 1025px) {
    padding: 1em;
    width: 12em;
    flex-wrap: nowrap;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 1em;
    width: 10em;
    height: 10em;
    flex-wrap: nowrap;
  }
  @media (min-width: 425px) and (max-width: 768px) {
    padding: 4vh 6vw;
    width: 26vw;
    height: 30vh;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  @media (min-width: 375px) and (max-width: 425px) {
    padding: 4vh 6vw;
    width: 85%;
    height: 35vh;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  @media (min-width: 320px) and (max-width: 375px) {
    padding: 4vh 6vw;
    width: 85%;
    height: 35vh;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  @media (max-width: 320px) {
    padding: 4vh 6vw;
    width: 85%;
    height: 35vh;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

.section-card:hover {
  scale: 1.1;
}

.type-1-card {
  background-image: linear-gradient(
    color-mix(in srgb, transparent 50%, transparent),
    color-mix(in srgb, #0d302e8e 50%, transparent)
  );
  @media (min-width: 1024px) {
  }
  @media (min-width: 425px) and (max-width: 768px) {
  }

  @media (min-width: 375px) and (max-width: 425px) {
  }
  @media (max-width: 320px) {
  }
}

.type-2-card {
  background-color: #171918;
}

.section-card img {
  aspect-ratio: 1/1;
  @media (min-width: 1025px) {
    height: 4em;
  }
  @media (min-width: 678px) and (max-width: 1024px) {
    height: 3.8em;
  }

  @media (min-width: 425px) and (max-width: 768px) {
    height: 5em;
  }
  @media (min-width: 375px) and (max-width: 425px) {
  }
  @media (min-width: 320px) and (max-width: 375px) {
    height: 15vh;
  }
  @media (max-width: 320px) {
    height: 15vh;
  }
}
.desc-title {
  text-align: center;
  @media (min-width: 1025px) {
    font-size: 1.2em;
    margin: 0.4em 0;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 1.1em;
    margin: 0.4em 0;
  }

  @media (min-width: 425px) and (max-width: 768px) {
    font-size: 1.5em;
    margin: 0.4em 0;
  }
  @media (min-width: 375px) and (max-width: 425px) {
    font-size: 1.2em;
    margin: 0.4em 0;
  }
  @media (max-width: 375px) {
    font-size: 1.2em;
    margin: 0.4em 0;
  }
}
.content {
  text-align: center;
  @media (min-width: 1024px) {
    font-size: 0.8em;
  }
  @media (min-width: 425px) and (max-width: 768px) {
    font-size: 1.2em;
  }
  @media (min-width: 375px) and (max-width: 425px) {
    font-size: 1em;
  }
  @media (max-width: 320px) {
  }
}

/* About grid component styling */

.grid-component {
  margin-top: 4vh;
  @media (min-width: 425px) and (max-width: 768px) {
    margin: 3em 0;
  }
}

.row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  margin-bottom: 1vh;
  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: left;
    align-items: start;
  }
}

.row-1 img {
  aspect-ratio: 1/1;
  height: 3em;
  @media (max-width: 1024px) {
    align-self: center;
    position: relative;
    left: -10px;
  }
  @media (min-width: 425px) and (max-width: 768px) {
    align-self: center;
    height: 4em;
  }
}

.row-2 {
  font-size: 0.8em;
  line-height: 1.2em;
}
